.stack {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.cluster {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.split {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__hero{
    background-color: var(--surface-2);
    padding: var(--space-4);
    margin: var(--space-4) var(--space-4);
    border-radius: var(--radius-md);
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    gap: var(--space-1);
    padding: var(--space-6) 0;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-4);
}

header{
    padding: var(--space-4);
}
.lang {
    position: relative;
}
.lang-selector{
    display: none;
    background-color: var(--surface-2);
    padding: var(--space-4);
    gap: var(--space-2);
    border-radius: var(--radius-md);
    position: absolute;
    right: 0;
    top: 64px;
}
.lang-switch:hover{
    cursor: pointer;
}

.visible{
    display: flex;
}
.navbar{
    display: flex;
    position: fixed;
    flex-direction: column;
    gap: var(--space-4);
    padding: var(--space-4);
}
.-vnav{
    background-color: var(--surface-2);
    left: -100%;
    top: 0;
    width: 70vw;
    height: 100%;
    z-index: 2;
    border-radius: 0 var(--radius-md) var(--radius-md) 0;
    box-shadow: var(--shadow-lg);
    justify-content: start;
    align-items: center;
    transition: var(--sidebar-anim);
    touch-action: pan-y;
}
.-vnav.opened{
    left: 0;
}
.navbar__links{
    font-size: var(--fs-nav);
    color: var(--text);
    transition: var(--buttons-anim);
}
.-vbuttons{
    background-color: var(--surface-2);
    width: 100%;
    text-align: center;
    padding: var(--space-6);
}

.hero{
    padding: var(--space-6);

}
.hero__content{
    gap: var(--space-2);
}
.hero__title{
    font-size: var(--fs-title);
    font-family: var(--ff-mono);
}
.hero__subtitle{
    font-size: var(--fs-subtitle);
    font-family: var(--ff-mono);
}
.hero__cta{
    display: flex;
    justify-content: center;
    gap: var(--space-4);
}
.hero__image{
    background-color: rgba(15, 87, 73, 0.648);
    padding: var(--space-4);
    border-radius: var(--radius-full);
}
.hero__image img{
    border-radius: var(--radius-full);
    border: var(--space-4) var(--primary) solid;
    max-width: 76vw;
}

.mobile{
    width: 100%;
    gap: var(--space-4);
    padding: var(--space-8) var(--space-4);
}

footer{
    background-color: var(--surface-2);
    border-radius: var(--radius-full);
    padding: var(--space-4) var(--space-6);
    margin: var(--space-8);
    box-shadow: var(--shadow-sm);
    border: var(--border) 3px solid;
}

.footer__socials{
    display: flex;
    gap: var(--space-4);
    font-size: 20px;
}
.footer__socials > a{
    color: var(--text);
}

.not-found{
    background-color: var(--surface-2);
    border: var(--border) 3px solid;
    border-radius: var(--radius-md);
    margin: var(--space-6);
    padding: var(--space-4);
}
.not-found > a{
    margin: var(--space-4) 0;
}
@media (min-width: 768px) {
    .navbar{
        position: relative;
        flex-direction: row;
        left: 0;
        padding: var(--space-6);
        background: none;
        gap: var(--space-16);
    }
    .-vnav{
        box-shadow: none;
    }
    .-vbuttons{
        padding: 0;
        width: auto;
        box-shadow: none;
        background: none;
    }
    .navbar__links:hover, .nav-link__active{
        transform: scale(1.033) translateY(-2px);
        color: var(--primary);
    }
    

}

@media (min-width: 1024px){
    .hero{
        flex-direction: row;
        padding: var(--space-16);
        gap: var(--space-8);
    }
    .hero__content{
        height: 30vw;
        width: 100%;
        justify-content: space-between;
    }
    .base-info{
        align-items: start;
    }
    .base-info > p{
        margin: var(--space-8) 0;
    }
    .hero__cta{
        width: 100%;
        justify-content: end;
    }

    .hero__image > img{
        max-width: 30vw;
    }
    .grid{
        grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    }

}