@import url(./layouts.css);
@import url(./variables.css);
@import url(./components.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg);
    color: var(--text);
    font-family: var(--ff-body);
    font-size: var(--fs-body);
}

a{
    text-decoration: none;
}
